@import url("https://use.typekit.net/fae5xjm.css");
@import '~katex/dist/katex.css';

@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: minion-pro;
  src: url(./minion-pro.ttf);
}


@viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1.0;
}

body {
  background: url('./marble.jpg');
  background-size: 350px;
  filter: darken(50%);
  print-color-adjust: exact;
}

.resume {
  font-size: 98%;
}

:global(.math) {
  font-size: 3mm;
}

.resume-container {
  display: flex;
  padding: 1em 0;
}

.resume-container .pad {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.resume {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 3.6mm;
  color: var(--font-color);
  font-family: var(--body-font);
  overflow: visible;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.resume h1 { 
  font-size: 6mm; 
  font-weight: 600;
  margin: 0 0 1mm 0;
  color: var(--alt);
  border-bottom: 0.6mm solid var(--alt);
  font-family: var(--header-font);
}

.resume h2, .resume h3, .resume h4, .resume h5, .resume h6 {
  color: var(--alt);
  font-family: var(--header-font);
}

.resume a {
  text-decoration: none;
  color: var(--main);
}

.resume p { margin: 0; }

.coffee-cup {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 400px;
  transform: rotate(160deg);
}

.pencil {
  position: absolute;
  top: 400px;
  right: -260px;
  transform: rotate(107deg);
}

.coffee-stain {
  position: absolute;
  width: 220px;
  left: 520px;
  top: 300px;
}

@media print {
  .resume-container {
    display: block;
    padding: 0;
  }

  .resume-container .pad {
    display: none;
  }

  .coffee-stain {
    display: none;
  }

  .resume {
    overflow: hidden;
  }
}


.backdrop > :first-child {
  background: var(--main);
  position: absolute;
  height: calc( var(--color-border-split) - var(--white-border-padding) );
  width: calc( 100% - 2 * var(--white-border-padding) );
  top: var(--white-border-padding);
  left: var(--white-border-padding);
}

.backdrop > :last-child {
  background: var(--alt);
  position: absolute;
  height: calc( 100% - var(--color-border-split) - var(--white-border-padding) );
  width: calc( 100% - 2 * var(--white-border-padding) );
  top: var(--color-border-split);
  left: var(--white-border-padding);
}

.content {
  height: 100%;
  width: 100%;
  padding: calc( var(--color-border-padding) + var(--white-border-padding) );
  box-sizing: border-box;
}

.content > :first-child {
  position: relative;
  background: white;
  height: 100%;
  width: 100%;
  padding: 5mm 5mm;
  box-sizing: border-box;
}

.contact .name {
  font-family: var(--header-font);
  font-weight: 600;
  display: block;
  font-size: 12mm;
  text-align: center;
  color: var(--alt);
}

.contact-info {
  width: 100%;
  padding: 0.33mm;
  margin: 1mm 0;
  color: var(--alt);
  border-top: 0.6mm solid var(--alt);
  border-bottom: 0.6mm solid var(--alt);
  display: flex;
  list-style-type: none;
}

.contact-info {
  font-size: 3.2mm;
}

.contact-info a {
  text-decoration: none;
  color: var(--alt);
}

.contact-info > * {
  padding: 0.66mm;
  border-right: 0.5mm solid var(--alt);
  flex-grow: 1;
  text-align: center;
}

.contact-info > *:last-child {
  border-right: none;
}

.contact-info > * > :first-child {
  margin-right: 0.5em;
}

.objective {
  display: flex; 
  width: 100%; 
  align-items: baseline;
  margin: 0.75em 0;
}

.objective > :first-child {
  width: 70%;
}

.objective > :nth-child(2) {
  width: 30%;
}

.academic-items {
  display: flex;
  flex-direction: column;
}

.academic-item {
  font-size: 2.7mm;
  display: flex;
  align-items: center;
  background: var(--alt);
  margin: 2mm 0 2mm 1mm;
  border: 0.5mm solid var(--alt);
  border-right: none;
}

.academic-item * {
  font-size: 2.7mm;
}

.academic-item-icon {
  background: var(--alt);
  padding: 0 1em;
  color: white;
}

.academic-item-info {
  background: white;
  flex-grow: 1;
}

.academic-item-info > * {
  list-style-type: none;
  padding: 0.5em 0 0.5em 1em;
  margin: 0;
}

.resume-block {
  position: relative;
  padding: 0 1em 1em 1em;
  border-left: 0.6mm solid var(--alt);
  border-right: 0.6mm solid var(--main);
}

.resume-block:first-child {
  padding-top: 0.5em;
}

.resume-block:last-child {
  padding-bottom: 0;
  margin-bottom: 0.75em;
}

.resume-block ul { 
  margin: 0.25em 0 0 1em; 
  padding: 0; 
}

.resume-block li {
  padding: 0.15em 0;
}

.resume-block p { margin: 0.5mm 0 0 0; }

.resume-block .resume-block-circle {
  position: absolute;
  width: 4mm;
  height: 4mm;
  top: -0.4mm;
  left: -2mm;
}

.resume-block .resume-block-header { 
  display: flex; 
}

.resume-block .resume-block-header > :first-child { 
  margin-right: 0.5mm;
  font-weight: bold;
}

.resume-block:first-child .resume-block-circle {
  top: 1.6mm;
}


.resume-block .resume-block-header > :nth-child(2) { 
  font-style: oblique;
}

.resume-block .resume-block-header > :last-child { 
  text-align: right; 
  flex-grow: 1;
  font-weight: bold;
}

@media only screen and ((max-width: 216mm) or (max-height: 140mm)) {
  .app {
    overflow: hidden;
    height: 100vh;
  }

  .message {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(122, 166, 130, 0.75);
    z-index: 10;
    color: white;
    font-size: 12pt;
  }

  .resume-container {
    filter: blur(10px);
    overflow: hidden;
  }

}

.message {
  display: none;
}

.message * {
  flex-grow: 1;
}

.message :nth-child(2) {
  flex-grow: 0;
  padding: 2em;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  font-size: 12pt;
}

.message a {
  color: var(--light-alt);
  text-decoration: none;
}

:root {
  --main: #7aa682;
  --alt: #514761;
  --light-alt: #592ca2;
  --header-font: adobe-garamond-pro, serif;
  --body-font: minion-pro, serif;
  --font-color: black;
  --white-border-padding: 3mm;
  --color-border-padding: 1.5mm;
  --color-border-split: 38.2%;
}
